.description-container {
  width: 50%;

  z-index: 100;

  position: absolute;
  bottom: 1%;
  right: 1%;

  border-radius: 1.25rem;
  border: 2px solid #fff;
  background: var(--glass-background);
  backdrop-filter: blur(15px);

  font-size: 15px;

  opacity: 0;
  overflow: hidden;

  &.is-active {
    opacity: 1;
    transition: var(--on-transition-long) 1s;
  }
}

.description {
  display: block;
  padding: 0 8px;
  filter: blur(5px);
  // pointer-events: none !important;
  transition: 1s;

  & h2 {
    font-weight: normal;
    transition: var(--off-transition);

  }
}


.description h3 {
  display: none;
  font-weight: normal;
  line-height: 90%;

  transition: var(--off-transition);

}

.description.is-active {
  background: var(--red);
  filter: blur(0px);
  padding: 5px 8px;
  & h2 {
    font-weight: bold;
    text-shadow: none;
  }

  & h3 {
    margin-top: 3px;
    display: block;
    text-shadow: none;
  }
}

.description.is-found {
  filter: blur(0px);
  text-shadow: #000 0px 0px 50px;
  padding: 5px 8px 15px 8px;
  cursor: pointer; 
}

.description.is-found:hover {
  h2, h3 {
    transition: var(--on-transition);
    transform: translateX(5px); //marche pas?
  }

  h3 {
    display: block;
    transform-origin: top;
    animation: strech 1s;
  }
}
@keyframes strech {
  0% {
    opacity: 0;
    transform: scaleY(0) translateX(5px);
  }
  100% {
    opacity: 1;
    transform: scaleY(1) translateX(5px);
  }
}

.description.is-active:hover {
  h3 {
    animation: none;
  }
}

@media (min-width: 768px) {
  .description-container {
    width: 25%;
    font-size: 18px;
  }
  .description h3 {
    line-height: 90%;
  }
}

@media (min-width: 1440px) {
  .description-container {
    width: 15%;
    font-size: 20px;
  }
  .description h3 {
    line-height: 90%;
  }
}
