.description-container {
  width: 50%;

  z-index: 100;

  position: absolute;
  bottom: 1%;
  right: 1%;

  border-radius: 1.25rem;
  border: 2px solid #fff;
  background: var(--glass-background);
  backdrop-filter: blur(15px);

  font-size: 15px;

  opacity: 0;
  overflow: hidden;

  &.is-active {
    opacity: 1;
    transition: var(--on-transition-long) 1s;
  }
}

.description {
  display: block;
  padding: 0 8px;
  filter: blur(5px);
  pointer-events: none !important;
  transition: 1s;

  & h2 {
    font-weight: normal;
  }
}

.description:hover {
  transform: scale(1.5, 1.5);
}

.description h3 {
  display: none;
  font-weight: normal;
  line-height: 90%;
}

.description.is-active {
  background: var(--red);
  filter: blur(0px);
  padding: 5px 8px;
  & h2 {
    font-weight: bold;
    text-shadow: none;
  }

  & h3 {
    margin-top: 3px;
    display: block;
    text-shadow: none;
  }
}

.description.is-found {
  filter: blur(0px);
  text-shadow: #000 0px 0px 50px;
  padding: 5px 8px 15px 8px;
  cursor: pointer; //ça s'affiche pas ?
}

.description.is-found:hover {
  transform: scale(1.5); //marche pas?
}

@media (min-width: 768px) {
  .description-container {
    width: 25%;
    font-size: 18px;
  }
  .description h3 {
    line-height: 90%;
  }
}

@media (min-width: 1440px) {
  .description-container {
    width: 15%;
    font-size: 20px;
  }
  .description h3 {
    line-height: 90%;
  }
}
