.description-container {
  width: 35%;

  z-index: 100;

  position: absolute;
  top:20px;
  right: 10px;
  
  font-size: 13px;
  
  opacity: 0;
  overflow: hidden;
  
  &.is-active {
    opacity: 1;
    transition: var(--on-transition-long) 1s;
  }
}

.description {
  display: block;
  border-radius: 20px;
  padding: 5px 12px;
  margin-bottom: 5px;
  background: var(--glass-background);
  backdrop-filter: blur(15px);
  transition: 1s;

  h2,h3 {
    filter: blur(2px);
  }

  h2 {
    font-weight: normal;
    transition: var(--off-transition);
    text-transform: uppercase;
  }
  h3 {
    display: none;
    font-weight: normal;
    line-height: 90%;
  
    transition: var(--off-transition);
  
  }
}
.title {
  text-align: right;
  text-transform: uppercase;
  margin: 0 5px 3px 0;
  font-size: 15px;
}


.description.is-active {
  background: var(--red);
  filter: blur(0px);
  padding: 8px 12px;
  & h2 {
    font-weight: bold;
    text-shadow: none;
  }

  & h3 {
    margin-top: 3px;
    display: block;
    text-shadow: none;
  }
}

.description.is-found {
  h2,h3 {
    filter: blur(0px);
  }
}


@media (min-width: 768px) {
  .description-container {
    width: 25%;
    font-size: 14px;
    right: 20px;
  }
  .description h3 {
    line-height: 90%;
    display: block;
    padding-bottom: 3px;
    font-size: 13px;
  }
  .description {
    h2,h3 {
      filter: blur(3px);
    }
  }
  .title {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .description-container {
    width: 15%;
    font-size: 20px;
  }
  .description h3 {
    line-height: 90%;
  }
  .description {
    h2,h3 {
      filter: blur(3.5px);
    }
  }
}
